# Node Environment & Server Configuration
NODE_ENV=development
PORT=10000

# Firebase Admin Service Account Credentials (Set as Render Secrets in production)
FIREBASE_PROJECT_ID=gotogether-2026
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@gotogether-2026.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
